<!DOCTYPE html>
<html>
<head>
  <title>Conference</title>
  <%= stylesheet_link_tag    "conference/application", :media => "all" %>
  <%= javascript_include_tag "conference/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
